.Stereos {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    padding: 1rem;
}

.filters {
    display: grid;
    grid-template-rows: 1fr max-content;
    justify-items: center;
    padding:1rem;
    gap: 1rem;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding:1rem;
    gap:1rem;
}

.checkedButton {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.uncheckedButton {
    padding: 10px 15px;
    background-color: #f1f1f1;
    color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.uncheckedButton:hover {
    background-color: #ddd;
}
.chartsContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    /* overflow-y: auto; */
}

.chart {
    display: grid;
    grid-template-rows: max-content 1fr;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.downloadButton {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: rgb(19, 128, 171);
}

@media screen and (min-width: 680px) {
    .chartsContainer {
        grid-template-columns: 1fr 1fr;
        height: 100vh;
    }
        .filters {
            justify-items: start;
            grid-template-columns: 1fr max-content;
        }
}