.PieChart{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: left;
    padding: 1rem;
    overflow: auto;
    gap: 20px;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

}

.chart {
    display: grid;
    min-width: 15rem;
}

/* Responsive styles */
@media screen and (min-width: 670px) {
    .PieChart {
        justify-content: center
    }
}