.BarChart {
    display: grid;
    justify-content: left;
    max-width:100%;
    overflow: auto;
    gap: 20px;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    max-width:100%;
    max-height:100%;
    border-radius: calc(0.7rem / 2);
    padding:0.75rem 0 0.75rem 0;

}

.chart {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: "500px"; height: "200px"
}

.downloadButton {
    display: grid;
    align-self: self-start;
    align-self: start;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: rgb(19, 128, 171);
}

@media screen and (min-width: 420px) {
    .BarChart {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .BarChart {
    justify-content: center;
        align-items: center;
        /* max-width: 100%; */
        width:100%;
        /* overflow: hidden; */
    }
}

@media screen and (min-width: 1042px) {
}
